# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Joe\CLionProjects\huawei_uni_challenge_2020\.idea/dataSources/
/dataSources.local.xml
